.App {
  text-align: center;
}

html {
  font-size: 15px;
}

input {
  font-size: 1rem;
}

.error-message {
  border-radius: 5px;
  background: red;
  padding: 10px;
  color: white;
}

button {
  color: white;
  background: rgb(58, 56, 56);
  border: none;
  border-radius: 5px;
  padding: 5.5px;
  font-size: 0.9rem;
  margin-left: 5px;
}

h1 {
  font-size: 4em;
}

h1, h3, h2 {
  font-family: josefin sans;
}

.header {
  color: white;
  background: black;
}

.logo-image {
  border-radius: 20px;
}

.header > img {
  max-height: 50px;
  transform: translate( 20%, 35%);
}

.header > h3 {
  display: inline-block;
  vertical-align: middle;
}

.stock-info {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.company-header {
  color: white;
  background: black;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  font-family: josefin sans;
}

.info-box-a {
  width: 300px;
  padding: 15px;
  background: grey;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.info-box-b {
  width: 300px;
  padding: 15px;
  background: cadetblue;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.info-box-c {
  width: 300px;
  padding: 15px;
  background: rgb(122, 185, 21);
  color: white;
  border-radius: 10px;
  margin: 10px;
}

.main-history-container {
  display: flex;
}

.symbol-history-container {
  display: flex;
  width: 1000px;
  margin: 10px auto;
}

.news-item-container {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.news-item {
  width: 600px;
  margin: 10px;
  border: 1px solid grey;
  background: cadetblue;
  color: white;
  border-radius: 10px;
  overflow: scroll;
}

.news-item > h2 {
  color: white;
  padding: 10px;
}


.news-item > a {
  background: rgb(128, 149, 177);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid white;
}

.news-item > p {
  padding: 10px;
}

table {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background: grey;
  color: white;
}

th {
  padding: 15px;
}

td {
  padding: 10px;
}